@model Store.Web.Models.CartIndexViewModel

@{
    ViewBag.Title = "Your cart";
}

<style>
    #cardTable td {vertical-align: middle;}
</style>

<h2>Your cart</h2>

<table id="cardTable" class="table">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Product</th>
            <th class="text-right">Price</th>
            <th class="text-right">Total price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Product.Title</td>
                <td class="text-right">@line.Product.Price.ToString("#руб")</td>
                <td class="text-right">@((line.Quantity*line.Product.Price).ToString("#руб"))</td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("ProductId", line.Product.ProductId)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="Delete"/>
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">@Model.Cart.ComputeTotalValue().ToString("#rub")</td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue</a>
    @Html.ActionLink("Оформить заказ", "Checkout", null, new { @class = "btn btn-primary"})
</div>

